@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h3>Two different links pointing the same way</h3>
    <a href="@Url.Action("Reverse", "Home")">Go to check if your word is a Palindrome</a>
    <br />
    @Html.ActionLink("Go to check if your word is a Palindrome", "Reverse", "Home")

</div>
